#about {
	border-bottom: 2px solid black;
}
.container {
	display: grid;
	grid-template-columns: 30% 35% 35%;
	grid-template-rows: repeat(2, 400px);
	grid-template-areas: 'l tr tr' 'l br br';
}

#music {
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	grid-area: l;
}
h3 {
	margin: 1px;
}

#sport {
	padding: 5px;
	text-align: center;
	border: 1px solid black;
	grid-area: tr;
}

.gallery {
	padding-top: 5px;
	height: 330px;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 'l m r';
}
.img1 {
	grid-area: l;
	background-image: url('../images/court.JPG');
	background-size: cover;
	opacity: 0.2;
}
.img2 {
	grid-area: m;
	background-image: url('../images/track.JPG');
	background-size: cover;
	background-position: bottom;
	opacity: 0.2;
}
.img3 {
	grid-area: r;
	background-image: url('../images/court2.JPG');
	background-size: cover;
	background-position: bottom;
	opacity: 0.2;
}

.gallery a:hover {
	opacity: 1;
}
.gallery2 a:hover {
	opacity: 1;
}

#dog {
	padding: 5px;
	text-align: center;
	border: 1px solid black;
	grid-area: br;
}

.gallery2 {
	padding-top: 5px;
	height: 360px;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 'img4 img5 img6' 'img4 img7 img8';
}
.img4 {
	grid-area: img4;
	background-image: url('../images/dudu5.JPG');
	background-size: cover;
	background-position-y: center;
	opacity: 0.2;
}
.img5 {
	grid-area: img5;
	background-image: url('../images/dudu1.JPG');
	background-size: cover;
	background-position-y: center;
	opacity: 0.2;
}
.img6 {
	grid-area: img6;
	background-image: url('../images/dudu2.JPG');
	background-size: cover;
	background-position-y: center;
	opacity: 0.2;
}
.img7 {
	grid-area: img7;
	background-image: url('../images/dudu3.JPG');
	background-size: cover;
	background-position-y: center;
	opacity: 0.2;
}
.img8 {
	grid-area: img8;
	background-image: url('../images/dudu4.JPG');
	background-size: cover;
	background-position-y: center;
	opacity: 0.2;
}

@media (max-width: 1200px) {
	main {
		height: 1000px;
	}
	.container {
		height: inherit;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 200px repeat(2, 1fr);
		grid-template-areas: 'l' 'm' 'b';
	}
	#music {
		grid-area: l;
	}
	#sport {
		grid-area: m;
	}
	#dog {
		grid-area: b;
	}
}
