main {
	height: 700px;
	display: grid;
	background: url('../images/mainback.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	/* grid-template-areas: 'tl tl tr tr'; */
}
.motto {
	grid-area: 2/2/2/2;
}

@media (max-width: 1200px) {
	header {
		height: 110px;
	}
	header nav {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 'top' 'buttom';
		justify-self: center;
	}
	header h1 {
		grid-area: top;
	}
	header ul {
		grid-area: buttom;
		display: flex;
		justify-content: center;
	}
	main {
		display: grid;
		grid-template-rows: 200px 300px;
		grid-template-columns: auto;
	}
	.motto {
		grid-area: 1/1/1/1;
	}
}
