@import './blog-box.css';
@import './blog-layout.css';
@import './blog-post.css';
body {
	margin: 0;
}

header {
	margin: 0;
	background-color: whitesmoke;
	height: 70px;
}

h1 {
	font-family: 'Contrail One', cursive;
	font-size: 40px;
}
h1 a {
	text-decoration: none;
	color: black;
}
h6 {
	font-family: 'Contrail One', cursive;
	font-size: 30px;
}
nav {
	height: inherit;
}

h6,
nav h1 {
	margin: 0;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

nav h1:hover {
	cursor: pointer;
	font-size: 45px;
}
footer {
	margin: 15px;
}

#mainpage {
	display: grid;
	grid-template-rows: 80px;
	grid-template-columns: auto;
	grid-gap: 5px;
}

#mainpage aside {
	grid-row: 1;
}
#mainpage section {
	grid-row: 2;
}

@media screen and (max-width: 650px) {
	#mainpage aside a {
		font-size: 20px;
	}
	#mainpage aside {
		display: grid;
		grid-template-rows: repeat(2, 40px);
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: 'l tl tl tr tr r' 'bl bl bm bm br br';
	}

	#Jan {
		grid-area: tl;
	}
	#Feb {
		grid-area: tr;
	}
	#Mar {
		grid-area: bl;
	}
	#Apr {
		grid-area: bm;
	}
	#May {
		grid-area: br;
	}
}
