@media (max-width: 800px) {
	header {
		height: 110px;
	}
	header nav {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 'top' 'buttom';
		justify-self: center;
	}
	header h1 {
		grid-area: top;
	}
	header ul {
		grid-area: buttom;
		display: flex;
		justify-content: center;
	}
	main {
		display: grid;
		grid-template-rows: 200px 300px;
		grid-template-columns: auto;
	}
}
